[Unit]
Description = "Apache NiFi"

After = local-fs.target
# stop on shutdown

# Respawn the process on unexpected termination
# respawn

# respawn the job up to 7 times within a 5 second period.
# If the job exceeds these values, it will be stopped and marked as failed.
# respawn limit 7 5

[Service]
# Apache NiFi was installed in /opt/nifi-1.13.2 in this example
ExecStart = /opt/nifi-1.13.2/bin/nifi.sh start

[Install]
WantedBy = multi-user.target
