.DS_Store
*.gz
*.tgz
*.tar
*.jar
*.war
*.keytab
.classpath
.project
*.pub
*_key
*_rsa
*.jks
*.crt
*.csr
*.key
*.pkcs12
*.p12
*.srl
*.pem
*.der
*-creds
*.extfile
.ipynb_checkpoints
/data/postgresql/*
/data/mysql/*
/data/cassandra/*
bd-docker-sandbox/conf/cluster/*/*
*/dependency-reduced-pom.xml
bd-notebooks-module/zeppelin/notebooks/.git
node_modules
build
target
/**/.*/
!/.gitignore
!/.vscode
!/.idea
/bd-data-platform/datasets/gold/
/bd-data-platform/datasets/silver/
*.pyc
