.DS_Store
nbactions.xml
target
*.gz
*.tgz
*.tar
*.jar
*.war
*.keytab
.classpath
.project
.idea
*.pub
*_key
*_rsa
*.jks
*.crt
*.csr
*.key
*.pkcs12
*.p12
*.srl
*.pem
*.der
*-creds
*.extfile
/data/postgresql/*
/data/mysql/*
/data/cassandra/*
bd-hadoop-sandbox/conf/cluster/*/*