.DS_Store
target
*.gz
*.tgz
*.tar
*.jar
*.war
*.keytab
.classpath
.project
*.pub
*_key
*_rsa
*.jks
*.crt
*.csr
*.key
*.pkcs12
*.p12
*.srl
*.pem
*.der
*-creds
*.extfile
/data/postgresql/*
/data/mysql/*
/data/cassandra/*
bd-hadoop-sandbox/conf/cluster/*/*
.idea/shelf/Uncommitted_changes_before_Checkout_at_14_09_24__7_18am__Changes_.xml
.idea/shelf/Uncommitted_changes_before_Checkout_at_14_09_24,_7_18 am_\[Changes]/shelved.patch
bd-spark-module/dependency-reduced-pom.xml
bd-notebooks-module/zeppelin/notebooks/.git
