#
zookeeper.ssl.keyStore.location=/etc/kafka/secrets/zookeeper.keystore.jks
zookeeper.ssl.keyStore.password=confluent
zookeeper.ssl.keyStore.type=PKCS12
zookeeper.ssl.trustStore.location=/etc/kafka/secrets/zookeeper.truststore.jks
zookeeper.ssl.trustStore.password=confluent
zookeeper.ssl.trustStore.type=JKS
zookeeper.ssl.client.enable=true