# Required connection configs for Kafka producer, consumer, and admin
#
bootstrap.servers=kafka-broker.sandbox.net:19093
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=admin
sasl.password=admin-secret
sasl.kerberos.service.name=kafka
sasl.kerberos.keytab=/apps/security/keytabs/services/kafkaclient.keytab
sasl.kerberos.principal=kafkaclient@SANDBOX.NET
ssl.key.location=/apps/security/ssl/clients.key
ssl.key.password=confluent
ssl.certificate.location=/apps/security/ssl/clients-signed.crt
ssl.ca.location=/apps/security/ssl/sandbox-ca.pem
