#
# Required connection configs for Kafka producer, consumer, and admin
#
bootstrap.servers=kafka-broker.sandbox.net:19092
security.protocol=SASL_PLAINTEXT
sasl.mechanisms=PLAIN
sasl.username=admin
sasl.password=admin-secret
#
# Best practice for higher availability in librdkafka clients prior to 1.7
# session.timeout.ms=45000