#
# Required connection configs for Kafka producer, consumer, and admin
#
bootstrap.servers=kafka-broker.sandbox.net:19094
security.protocol=SSL
# sasl.mechanisms=SSL
# sasl.username=admin
# sasl.password=admin-secret
sasl.kerberos.service.name=kafka
sasl.kerberos.keytab=/etc/kerberos/keytabs/kafkaclient.keytab
sasl.kerberos.principal=kafkaclient@SANDBOX.NET
ssl.key.location=/apps/security/ssl/clients.key
ssl.key.password=confluent
ssl.certificate.location=/apps/security/ssl/clients-signed.crt
ssl.ca.location=/apps/security/ssl/sandbox-ca.pem
#
# Best practice for higher availability in librdkafka clients prior to 1.7
# session.timeout.ms=45000