#
zookeeper.clientCnxnSocket=org.apache.zookeeper.ClientCnxnSocketNetty
zookeeper.ssl.client.enable=true
zookeeper.ssl.protocol=TLSv1.2

zookeeper.ssl.truststore.location=/apps/security/ssl/clients.truststore.jks
zookeeper.ssl.truststore.password=confluent
zookeeper.ssl.trustStore.type=JKS
zookeeper.ssl.keystore.location=/apps/security/ssl/clients.keystore.jks
zookeeper.ssl.keystore.password=confluent
zookeeper.ssl.keyStore.type=PKCS12
